<flynt-component name="SliderTimeline" load:on="visible" class="{{ spacingOptions.spacing ? 'componentSpacingNone' : 'componentSpacing' }}" {{ themeOptions.theme ? 'data-theme="' ~ themeOptions.theme ~ '"' }}>
  <script type="application/json">{{ jsonData|json_encode }}</script>
  <div data-ref="slider" data-slider class="slider swiper-container">
    <div class="swiper-wrapper no-container">
    {% set i = 0 %}
      {% for slide in slides %}
        <div data-refs="sliderItems" class="swiper-slide slide-{{i}}" style="display:flex;flex-direction:row;">
            <div class="container decade-container">
              <img class="decadeImg" src="{{ slide.imageDecade.src }}">
              <div class="diamond"></div>
              <div class="content" data-size="full">
                {% if slide.contentHtml %}
                  {{ slide.contentHtml }}
                {% endif %}
              </div>
            </div>
        {% include "Partials/_picture.twig" with { images: slide.images, loopIndex: loop.index } %}
        </div>
        {% set i = i + 1 %}
      {% endfor %}
    </div>
    {% if slides|length > 1 %}
      <div data-ref="pagination" class="slider-pagination"></div>
      {# <button type="button" data-ref="prev" class="slider-button slider-button--prev" aria-label="{{ sliderOptions.a11y.prevSlideMessage|e }}"></button>
      <button type="button" data-ref="next" class="slider-button slider-button--next" aria-label="{{ sliderOptions.a11y.nextSlideMessage|e }}"></button> #}
      <div class="horizontalLine">
        <hr class="blue">
      </div>
    {% endif %}
  </div>
</flynt-component>
