<div class="picture-container">
<picture class="picture">
  {% if images.imageMobile %}
    <source
      srcset="
        {{ images.imageDesktop.src|resizeDynamic(800, 540, images.imageDesktopCrop) }} 800w"
      media="(min-width: 768px)"
      width="800"
      height="540"
      loading="{{ loopIndex == 1 ? 'eager' : 'lazy' }}"
      sizes="100vw">
    <img
      class="picture-image"
      src="{{ images.imageMobile.src|resizeDynamic(768, 420, images.imageMobileCrop) }}"
      srcset="
        {{ images.imageMobile.src|resizeDynamic(768, 420, images.imageMobileCrop) }} 768w,
        {{ images.imageMobile.src|resizeDynamic(640, 420, images.imageMobileCrop) }} 640w"
      sizes="100vw"
      width="768"
      height="420"
      loading="{{ loopIndex == 1 ? 'eager' : 'lazy' }}"
      alt="{{ images.imageDesktop.alt|e }}">
    {% else %}
      <img
        class="picture-image"
        //src="{{ images.imageDesktop.src|resizeDynamic(768, 420, images.imageDesktopCrop) }}"
        src="{{ images.imageDesktop.src }}"
        srcset="
          {{ images.imageDesktop.src }} 1000w"
        sizes="100vw"
        width="768"
        height="420"
        loading="{{ loopIndex == 1 ? 'eager' : 'lazy' }}"
        alt="{{ images.imageDesktop.alt|e }}">
  {% endif %}
</picture>
</div>
