<flynt-component name="SliderFeaturedPosts" load:on="visible" class="featured-post-slider componentSpacing" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }} >
    <div class="container sfp-container">
        <div class="specials-intro">
        {% if preContentHtml %}
            <div data-size="full" data-align="" data-text-align="" style="padding: 0 30px;">
            {{ preContentHtml|e('wp_kses_post') }}
            {% if seeMoreUrl %}
                <a href="{{ seeMoreUrl }}" class="button--underline blue">See More</a>
            {% else %}
                {# {{ postTypeArchiveLink }} #}
            {% endif %}
            </div>
        {% endif %}
        </div>
        <script type="application/json">{{ jsonData|json_encode }}</script>
        <div class="container-specials" data-size="full" data-flow="layout">
            <div data-ref="slider" data-slider class="slider swiper-container">
                <div class="swiper-wrapper">
                {% for post in posts %}
                <div class="slider-item swiper-slide {{- loop.index == 1 ? ' swiper-slide-active' -}}">
                    <figure class="figure">
                    {% if (post.thumbnail) %}
                        <img class="figure-image lazyload"
                        src="{{ post.thumbnail.src|resizeDynamic(870, 580) }}"
                        srcset="{{ placeholderImage(870, 580, 'rgba(125, 125, 125, 0.1)') }}"
                        width="{{ 870 }}"
                        height="{{ 580 }}"
                        data-srcset="
                            {{ post.thumbnail.src|resizeDynamic(1740, 1160) }} 1160w,
                            {{ post.thumbnail.src|resizeDynamic(870, 580) }} 870w,
                            {{ post.thumbnail.src|resizeDynamic(580, 385) }} 580w,
                            {{ post.thumbnail.src|resizeDynamic(375, 246) }} 375w"
                        data-sizes="auto"
                        alt="{{ post.thumbnail.alt|e }}">
                        {% else %}
                            <img src="/wp-content/themes/antlers2023/Components/SliderFeaturedPosts/Assets/filler.png" style="max-height:291px;">
                        {% endif %}
                        <div class="specials-title"><h4 style="padding: 15px 30px;">{{post.title|truncate(6, '...', false)}}</h4></div>
                        <div class="specials-content">{{post.content|truncate(20, '...', false)}}</div>
                    </figure>
                    <div class="specials-cta">
                        <a class="button specials-button" href="{{post.link}}" title="Learn More">Learn More</a>
                    </div>
                </div>
                {% endfor %}
                </div>
                {# <div data-ref="pagination" data-slider-pagination class="slider-pagination"></div> #}
            </div>
            <button type="button" data-ref="prev" class="slider-button slider-button--prev" aria-label="{{ sliderOptions.a11y.prevSlideMessage|e }} previous"></button>
            <button type="button" data-ref="next" class="slider-button slider-button--next" aria-label="{{ sliderOptions.a11y.nextSlideMessage|e }} next"></button>
        </div>
    </div>
</flynt-component>
