{% extends 'templates/_document.twig' %}

{% block content %}
  <article>
    <section class="wp-block-post-content has-global-padding is-layout-constrained" style="margin:60px auto;">
    
    <div class="container centerMaxWidthStaffContainer" style="margin:120px auto 30px;max-width:600px;">
    <h1>{{post.title}}</h1>
        <img class="content-image lazyload"
                src="{{ post.thumbnail.src|resizeDynamic(424, 424) }}"
                srcset="{{ placeholderImage(3, 3) }}"
                data-srcset="
                {{ post.thumbnail.src|resizeDynamic(600, 600) }} 600w,
                {{ post.thumbnail.src|resizeDynamic(424, 424) }} 424w,
                {{ post.thumbnail.src|resizeDynamic(312, 312) }} 312w"
                data-sizes="auto"
                alt="{{ post.thumbnail.alt|e }}">
    </div>
         {% for component in post.meta('pageComponents') %}
            {{ renderComponent(component) }}
          {% endfor %}
    </section>
    {# <footer>
      {{ renderComponent('BlockPostFooter', { post: post }) }}
    </footer> #}
  </article>
{% endblock %}
