{% extends 'templates/_document.twig' %}

{% block content %}
  <article>
    <section class="wp-block-post-content has-global-padding is-layout-constrained" style="margin:60px auto;">
    {% set shortDescription = post.get_field('short_description') %}
    {% set packageDetails = post.get_field('package_details') %}
    <div class="container centerMaxWidthStaffContainer" style="margin:120px auto 30px;">
        <div class="staff-img-container" style="max-width:600px;margin:0 auto;text-align:center;">
        <h1 style="margin-bottom:0;padding-bottom:0;">{{post.title}}</h1>
        <h5 style="margin-top:0;padding-top:0;">{{subHeading}}</h5>
        {% if post.thumbnail %}
            <img class="content-image lazyload"
                src="{{ post.thumbnail.src|resizeDynamic(424, 424) }}"
                srcset="{{ placeholderImage(3, 3) }}"
                data-srcset="
                {{ post.thumbnail.src|resizeDynamic(600, 600) }} 600w,
                {{ post.thumbnail.src|resizeDynamic(424, 424) }} 424w,
                {{ post.thumbnail.src|resizeDynamic(312, 312) }} 312w"
                data-sizes="auto"
                alt="{{ post.thumbnail.alt|e }}">
        {% endif %}
        </div>
        {% if component %}
                {% for component in post.meta('pageComponents') %}
                    {{ renderComponent(component) }}
                {% endfor %}
            {% else %}
            {{shortDescription}}<br><br>
            {{packageDetails}}
                {{ post.content }}
        {% endif %}
    </div>
    </section>
    {# <footer>
      {{ renderComponent('BlockPostFooter', { post: post }) }}
    </footer> #}
  </article>
{% endblock %}
