<flynt-component name="GridPostsArchive" load:on="visible" class="componentSpacing" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}>
  <div class="container" data-flow="layout" style="margin-top:250px;">
    <div data-size="medium" data-align="center" data-text-align="center">
    {# the type is {{type}} #}
      {# <h1>{{ title }}</h1> #}
      {# {% set html = isHome ? preContentHtml : description %}
      {{ html|e('wp_kses_post') }} #}
    </div>
    {# {% if terms %}
      {% include 'Partials/_filter.twig' %}
    {% endif %} #}

    {% if posts|length > 0 %}
    
      <ul data-ref="posts" class="posts">
        {% for post in posts %}
        {% set title = post.title %}
        {% set shortDescription = post.get_field('short_description') %}
        {% set position = post.get_field('position') %}
          <li class="post boxBorder-none" data-theme="reset">
            
              {% if post.thumbnail %}
                <figure class="hex-figure">
                 {% if post.thumbnail.post_mime_type == 'image/svg+xml'%}
                    <img class="hex-figure-image-svg lazyload"
                     src="{{ placeholderImage(768, (768 / 3 * 2)|round, 'rgba(125, 125, 125, 0.1)') }}"
                      width="{{ 768 }}"
                      height="{{ (768 / 3 * 2)|round }}"
                      data-src="{{ post.thumbnail.src }}"
                      alt="{{ post.thumbnail.alt|e }}">
                  {% else %}
                        <img class="figure-image lazyload"
                        src="{{ post.thumbnail.src|resizeDynamic(768, (768 / 3 * 2)|round, 'center') }}"
                        width="{{ 768 }}"
                        height="{{ (768 / 2 * 3)|round }}"
                        srcset="{{ placeholderImage(768, (768 / 2 * 3)|round, 'rgba(125, 125, 125, 0.1)') }}"
                        data-srcset="
                        {{ post.thumbnail.src|resizeDynamic(1024, (1024 / 2 * 3)|round, 'center') }} 1024w,
                        {{ post.thumbnail.src|resizeDynamic(768, (768 / 2 * 3)|round, 'center') }} 768w,
                        {{ post.thumbnail.src|resizeDynamic(640, (640 / 2 * 3)|round, 'center') }} 640w"
                        data-sizes="auto"
                        alt="{{ post.thumbnail.alt|e }}">
                  {% endif %}
                  </figure>
              {% endif %}
              {% set max_length = 100 %}
                {% if shortDescription %}
                <a class="link" href="{{ post.link|e('esc_url') }}" aria-label="{{ post.title }}">
                  <div class="content {{ options.amenities ? 'amenities' }} {{ options.card ? 'boxPadding' }}">
                    <h3 class="post-title">{{post.title}}</h3>
                    <div class="content-hex">
                      {{ shortDescription|striptags|slice(0, 130) ~ '...' }}<br>
                      <div class="button--underline2 white">Learn More</div>
                    </div>
                  </div>
                </a>
                {% elseif position %}
                <a class="link" href="{{ post.link|e('esc_url') }}" aria-label="{{ post.title }}">
                  <div class="content {{ options.amenities ? 'amenities' }} {{ options.card ? 'boxPadding' }}">
                    <h3 class="post-title">{{post.title}}</h3>
                    <div class="content-hex">
                    {{position}}
                      {{ post.contentHtml|striptags|slice(0, 130) ~ '...' }}<br>
                      <div class="button--underline2 white">Learn More</div>
                    </div>
                  </div>
                </a>
                {% endif %}
            
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="posts-empty">{{ labels.noPostsFound }}</p>
    {% endif %}

    {% set pagination = posts.pagination %}
    {% if pagination.pages %}
      {% include 'Partials/_pagination.twig' %}
    {% endif %}
  </div>
</flynt-component>
