<flynt-component name="GridPostsArchive" load:on="visible" class="componentSpacing" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}>

{% if posts %}
      {# Determine the current post type based on the archive #}
      {% set currentPostType = '' %}
      {# Check the body_class for post type information - using a simpler string-based approach #}
      {% if 'post-type-archive-specials-packages' in body_class %}
        {% set currentPostType = 'specials-packages' %}
      {% elseif 'post-type-archive-staff' in body_class %}
        {% set currentPostType = 'staff' %}
      {% elseif 'post-type-archive' in body_class %}
        {# Default to regular posts if it's another archive type #}
        {% set currentPostType = 'post' %}
      {% endif %}
      {# Create a custom queriedObject with the post type information #}
      {% set customQueriedObject = {
        'name': currentPostType
      } %}
{% endif %}

{% if currentPostType == 'specials-packages' %}
  {% set intro = introOptions.specials_intro %}
  {% set heroImg = introOptions.specials_hero.src %}
  {% set gridType = 'specials-packages' %}
  {% set itemType = 'specials-packages-item' %}
  {% set figureType = 'hex-figure' %}
  {% set imgFigureType = 'hex-figure-image-svg' %}
  {% set imgWidth = 768 %}
  {% set imgHeight = '768 / 2 * 3' %}
{% elseif currentPostType == 'staff' %}
{% set postType = currentPostType %}
  {% set intro = introOptions.staff_intro %}
  {% set heroImg = introOptions.staff_hero %}
  {% set gridType = 'staff' %}
  {% set itemType = 'staff-item' %}
  {% set figureType = 'hex-figure' %}
  {% set imgFigureType = 'hex-figure-image-svg' %}
  {% set imgWidth = 384 %}
  {% set imgHeight = 330 %}
{% else %}
  {% set postType = 'posts' %}
  {% set gridType = 'posts' %}
  {% set itemType = 'post-item' %}
  {% set figureType = 'figure' %}
  {% set imgFigureType = 'figure-image-svg' %}
  {% set imgWidth = 768 %}
  {% set imgHeight = '768 / 2 * 3' %}
{% endif %}

{% if heroImg %}
  <picture class="picture" style="" data-theme="light">
      <img class="picture-image"
        src="{{ heroImg }}">
        <div class="clip-path-container"></div>
  </picture>
{% endif %}

<div class="container" data-size="full" data-flow="layout" data-theme="none">
  <div data-size="wide" data-align="center" data-text-align="center" style="padding-bottom:60px;">
  {# post type = {{currentPostType}} #}
  {{ intro }}
  </div>
</div>

<div class="container" data-flow="layout">

    {% if posts|length > 0 %}
      {# <ul data-ref="posts" class="{{gridType}}"> #}
      <ul data-ref="posts" class="posts">
        {% for post in posts %}
        {% set title = post.title %}
        {% set shortDescription = post.get_field('short_description') %}
        {% set position = post.get_field('position') %}
          <li class="{{itemType}} boxBorder-none" data-theme="reset">
            {% if post.thumbnail %}
              <figure class="{{figureType}}">
                {% if post.thumbnail.post_mime_type == 'image/svg+xml'%}
                  <img class="figure-image lazyload"
                  src="{{ placeholderImage(768, (768 / 3 * 2)|round, 'rgba(125, 125, 125, 0.1)') }}"
                  width="{{ 768 }}"
                  height="{{ (768 / 3 * 2)|round }}"
                  data-src="{{ post.thumbnail.src }}"
                  alt="{{ post.thumbnail.alt|e }}">
                {% else %}
                  <img class="figure-image lazyload"
                  src="{{ post.thumbnail.src|resizeDynamic(imgWidth, (imgHeight)|round, 'center') }}"
                        {# width="{{ ingWidth }}"
                        height="{{ (imgHeight)|round }}"
                        srcset="{{ placeholderImage(imgWidth, (imgHeight)|round, 'rgba(125, 125, 125, 0.1)') }}"
                        data-srcset="
                        {{ post.thumbnail.src|resizeDynamic(768, (768 / 2 * 3)|round, 'center') }} 768w,
                        {{ post.thumbnail.src|resizeDynamic(640, (640 / 2 * 3)|round, 'center') }} 640w"
                        data-sizes="auto" #}
                  alt="{{ post.thumbnail.alt|e }}">
                {% endif %}
                {% if currentPostType == 'specials-packages' or currentPostType == 'staff' %}
                  </figure>
                {% endif %}
            {% else %}
                {% set placeHolderImg = 'https://antlersvail.com/wp-content/uploads/2023/11/Antlers-Logo-Google.png' %}
                <figure class="{{figureType}}">
                  <img class="figure-image lazyload"
                  src="{{ placeHolderImg }}"
                        width="{{ ingWidth }}"
                        height="{{ (imgHeight)|round }}"
                  alt="{{ post.thumbnail.alt|e }}">
                {% if currentPostType == 'specials-packages' or currentPostType == 'staff' %}
                  </figure>
                {% endif %}
            {% endif %}
            {% set max_length = 100 %}
            {% if currentPostType == 'specials-packages' %}
              {% if shortDescription %}
                <a class="link" href="{{ post.link|e('esc_url') }}" aria-label="{{ post.title }}">
                  <div class="content {{ options.amenities ? 'amenities' }} {{ options.card ? 'boxPadding' }}">
                    <h3 class="post-title">{{post.title}}</h3>
                    <div class="content-hex">
                      {{ shortDescription|striptags|slice(0, 130) ~ '...' }}<br>
                      <div class="button--underline2 white">Learn More</div>
                    </div>
                  </div>
                </a>
              {% endif %}
            {% elseif currentPostType == 'staff' %}
              {% if position %}
                <a class="link" href="{{ post.link|e('esc_url') }}" aria-label="{{ post.title }}">
                  <div class="content {{ options.amenities ? 'amenities' }} {{ options.card ? 'boxPadding' }}">
                    <h3 class="post-title">{{post.title}}</h3>
                    <div class="content-hex">
                    {{position}}
                      {{ post.contentHtml|striptags|slice(0, 130) ~ '...' }}<br>
                      <div class="button--underline2 white">Learn More</div>
                    </div>
                  </div>
                </a>
              {% endif %}
            {% else %}
                <div class="post-title">
                  <h4 style="padding: 15px 30px;">{{ post.title|truncate(6, '...', false) }}</h4>
                </div>
                <div class="content boxPaddingNo">
                  <p>{{ post.content|striptags|slice(0, 130) ~ '...' }}</p>
                </div>
                {% if currentPostType != 'specials-packages' %}
                  </figure>
                {% endif %}
                <div class="post-cta">
                  <a class="button cta-button" href="{{post.link}}" title"Learn More">{{ labels.readMore }}</a>
                </div>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="posts-empty">{{ labels.noPostsFound }}</p>
    {% endif %}

    {% set pagination = posts.pagination %}
    {% if pagination.pages %}
      {% include 'Partials/_pagination.twig' %}
    {% endif %}
  </div>
</flynt-component>
