<flynt-component name="GridPostsArchive" load:on="visible" class="componentSpacing" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}>
{# {{dump(introOptions.specials_hero.src)}} #}
{% if queriedObject.name == 'specials-packages' %}
  {% set intro = introOptions.specials_intro %}
  {% set heroImg = introOptions.specials_hero.src %}
{% elseif queriedObject.name == 'staff' %}
   {% set intro = introOptions.staff_intro %}
{% endif %}
{% if queriedObject.name == 'staff' %}
  {% set heroImg = introOptions.staff_hero %}
  {% set gridType = 'staff' %}
  {% set itemType = 'staff-item' %}
  {% set imgWidth = 384 %}
  {% set imgHeight = 330 %}
{% else %}
  {% set gridType = 'posts' %}
  {% set itemType = 'post' %}
  {% set imgWidth = 768 %}
  {% set imgHeight = '768 / 2 * 3' %}
{% endif %}

  <picture class="picture">
      <img class="picture-image"
        src="{{ heroImg }}">
  </picture>
  <div class="container" data-flow="layout" style="margin:60px auto;">
    <div data-size="full" data-align="center" data-text-align="center">
    {{ intro }}
    </div>
    {# {% if terms %}
      {% include 'Partials/_filter.twig' %}
    {% endif %} #}

    {% if posts|length > 0 %}
      <ul data-ref="posts" class="{{gridType}}">
        {% for post in posts %}
        {% set title = post.title %}
        {% set shortDescription = post.get_field('short_description') %}
        {% set position = post.get_field('position') %}
          <li class="{{itemType}} boxBorder-none" data-theme="reset">
              {% if post.thumbnail %}
                <figure class="hex-figure">
                 {% if post.thumbnail.post_mime_type == 'image/svg+xml'%}
                    <img class="hex-figure-image-svg lazyload"
                     src="{{ placeholderImage(768, (768 / 3 * 2)|round, 'rgba(125, 125, 125, 0.1)') }}"
                      width="{{ 768 }}"
                      height="{{ (768 / 3 * 2)|round }}"
                      data-src="{{ post.thumbnail.src }}"
                      alt="{{ post.thumbnail.alt|e }}">
                  {% else %}
                        <img class="figure-image lazyload"
                        src="{{ post.thumbnail.src|resizeDynamic(imgWidth, (imgHeight)|round, 'center') }}"
                        {# width="{{ ingWidth }}"
                        height="{{ (imgHeight)|round }}"
                        srcset="{{ placeholderImage(imgWidth, (imgHeight)|round, 'rgba(125, 125, 125, 0.1)') }}"
                        data-srcset="
                        {{ post.thumbnail.src|resizeDynamic(768, (768 / 2 * 3)|round, 'center') }} 768w,
                        {{ post.thumbnail.src|resizeDynamic(640, (640 / 2 * 3)|round, 'center') }} 640w" 
                        data-sizes="auto" #}
                        alt="{{ post.thumbnail.alt|e }}">
                  {% endif %}
                  </figure>
              {% endif %}
              {% set max_length = 100 %}
                {% if shortDescription %}
                <a class="link" href="{{ post.link|e('esc_url') }}" aria-label="{{ post.title }}">
                  <div class="content {{ options.amenities ? 'amenities' }} {{ options.card ? 'boxPadding' }}">
                    <h3 class="post-title">{{post.title}}</h3>
                    <div class="content-hex">
                      {{ shortDescription|striptags|slice(0, 130) ~ '...' }}<br>
                      <div class="button--underline2 white">Learn More</div>
                    </div>
                  </div>
                </a>
                {% elseif position %}
                <a class="link" href="{{ post.link|e('esc_url') }}" aria-label="{{ post.title }}">
                  <div class="content {{ options.amenities ? 'amenities' }} {{ options.card ? 'boxPadding' }}">
                    <h3 class="post-title">{{post.title}}</h3>
                    <div class="content-hex">
                    {{position}}
                      {{ post.contentHtml|striptags|slice(0, 130) ~ '...' }}<br>
                      <div class="button--underline2 white">Learn More</div>
                    </div>
                  </div>
                </a>
                {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="posts-empty">{{ labels.noPostsFound }}</p>
    {% endif %}

    {% set pagination = posts.pagination %}
    {% if pagination.pages %}
      {% include 'Partials/_pagination.twig' %}
    {% endif %}
  </div>
</flynt-component>
