{% if posts|length > 0 %}
  <flynt-component name="GridPostsLatest" class="componentSpacing" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}>
  {# {{queriedPost}}
  {{layoutType}}
  {{posts|join('|', ' ')}} #}
  {% if queriedPost == 'staff' %}
    {% set imgWidth = 384 %}
    {% set imgHeight = 330 %}
    {% set gridType = 'staff-grid' %}
    {% set itemClass = 'staff-item' %}

  {% else %}
    {% set imgWidth = 768 %}
    {% set imgHeight = '768 / 3 * 2' %}
    {% set gridType = 'grid' %}
    {% set itemClass = 'specials' %}
  {% endif %}
    <div class="container" data-flow="layout">
      {% if preContentHtml %}
        <div data-size="medium" data-align="center" data-text-align="center">
          {{ preContentHtml|e('wp_kses_post') }}
        </div>
      {% endif %}

      {% if layoutType == 'cards' %}
      {# only used for blog page and blog posts #}
      <ul class="grid" {{ options.maxColumns ? 'data-max-columns="' ~ options.maxColumns ~ '"' }}>
        {% for post in posts %}
          <li class="post boxBorderNo" data-theme="white">
            <figure class="figure">
            {% if post.thumbnail %}
              <img class="post-image figure-image lazyload"
                src="{{ post.thumbnail.src|resizeDynamic(768, (768 / 3 * 2)|round, 'center') }}"
                width="{{ 768 }}"
                height="{{ (768 / 3 * 2)|round }}"
                srcset="{{ placeholderImage(768, (768 / 3 * 2)|round, 'rgba(125, 125, 125, 0.1)') }}"
                data-srcset="
                {{ post.thumbnail.src|resizeDynamic(768, (768 / 3 * 2)|round, 'center') }} 768w,
                {{ post.thumbnail.src|resizeDynamic(640, (640 / 3 * 2)|round, 'center') }} 640w"
                data-sizes="auto"
                alt="{{ post.title }}">
            {% endif %}
            <div class="post-title">
                <h4 style="padding: 15px 30px;">{{ post.title|truncate(6, '...', false) }}</h4>
              </div>
            <div class="content boxPaddingNo">
              <p>{{ post.content|striptags|slice(0, 130) ~ '...' }}</p>
            </div>
            </figure>
            <div class="post-cta">
              <a class="button cta-button" href="{{post.link}}">{{ labels.readMore }}</a>
            </div>
          </li>
        {% endfor %}
      </ul>
      {% elseif layoutType == 'hexagons' %}
      {# used for specials and staff #}
      <ul class="{{gridType}}" {{ options.maxColumns ? 'data-max-columns="' ~ options.maxColumns ~ '"' }}>
        {% for post in posts %}
        {% set position = post.get_field('position') %}
          <li class="{{itemClass}} boxBorder-none" data-theme="reset">
              {% if post.thumbnail %}
                <figure class="hex-figure">
                 {% if post.thumbnail.post_mime_type == 'image/svg+xml'%}
                    <img class="hex-figure-image-svg lazyload"
                     src="{{ placeholderImage(768, (768 / 3 * 2)|round, 'rgba(125, 125, 125, 0.1)') }}"
                      width="{{ 768 }}"
                      height="{{ (768 / 3 * 2)|round }}"
                      data-src="{{ post.thumbnail.src }}"
                      alt="{{ post.thumbnail.alt|e }}">
                  {% else %}
                        <img class="{{queriedPost}}-figure-image lazyload"
                        src="{{ post.thumbnail.src|resizeDynamic(imgWidth, (imgHeight)|round, 'center') }}"
                        width="{{ imgWidth }}"
                        height="{{ imgHeight }}"
                        srcset="{{ placeholderImage(imgWidth, (imgHeight)|round, 'rgba(125, 125, 125, 0.1)') }}"
                        data-srcset="
                        {{ post.thumbnail.src|resizeDynamic(imgWidth, (imgHeight)|round, 'center') }} 768w,
                        {{ post.thumbnail.src|resizeDynamic(imgWidth, (imgHeight)|round, 'center') }} 640w"
                        data-sizes="auto"
                        alt="{{ post.thumbnail.alt|e }}">
                  {% endif %}
                  </figure>
              {% endif %}
              {% if shortDescription %}
              {# used in specials #}
                <a class="link" href="{{ post.link|e('esc_url') }}" aria-label="{{ post.title }}">
                  <div class="content {{ options.amenities ? 'amenities' }} {{ options.card ? 'boxPadding' }}">
                    <h3 class="post-title">{{post.title}}</h3>
                    <div class="content-hex">
                      {{ shortDescription|striptags|slice(0, 130) ~ '...' }}<br>
                      <div class="button--underline2 white">Learn More</div>
                    </div>
                  </div>
                </a>
                {% elseif position %}
                {# staff title/work position #}
                <a class="link" href="{{ post.link|e('esc_url') }}" aria-label="{{ post.title }}">
                  <div class="content {{ options.amenities ? 'amenities' }} {{ options.card ? 'boxPadding' }}">
                    <h3 class="post-title">{{post.title}}</h3>
                    <div class="content-hex">
                    {{position}}
                      {{ post.contentHtml|striptags|slice(0, 130) ~ '...' }}<br>
                      <div class="button--underline2 white">Learn More</div>
                    </div>
                  </div>
                </a>
                {% endif %}
                {# {% if post.contentHtml %}
                <div class="content {{ options.amenities ? 'amenities' }} {{ options.card ? 'boxPadding' }}">
                    <h3>{{item.title}}</h3>
                    <div class="content-hex">{{ post.contentHtml|striptags }}</div>
                    <a class="button--underline white" href="{{post.ctaUrl}}">Learn More</a>
                </div>
            {% endif %} #}
          </li>
        {% endfor %}
      </ul>
      {% elseif layoutType == 'links' %}
      {# used to pull room numbers for the in page navigation of room types #}
      <ul class="units" {{ options.maxColumns ? 'data-max-columns="' ~ options.maxColumns ~ '"' }}>
        {% for post in posts %}
          <li class="links">
            <a class="link" href="{{ post.link|e('esc_url') }}" aria-label="{{ post.title }}">
             {{post.title}}
            </a>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
      {# {% if queriedPost == 'post' %}
      <div data-size="medium" data-align="center" data-text-align="center">
        <a href="{{ postTypeArchiveLink|e('esc_url') }}" class="button button--text">{{ labels.allPosts }}</a>
      </div>
    </div>
    {% endif %} #}
  </flynt-component>
{% endif %}
